@import "../../assets/style.scss";
.productAccordion {
    padding: 30px 0;
    .product {
        &_tab {
            display: flex;
            border-bottom: 1px solid $grayColor;
            li {
                margin-right: 16px;
                a {
                    @include block();
                    padding: 16px;
                    color: $textColor;
                    font-weight: 400;
                    text-decoration: none;
                }
                &.active,
                &:hover {
                    border-bottom: 4px solid $boldColor;
                    a {
                        color: $boldColor;
                        font-weight: 500;
                    }
                }
            }
        }
        &_list {
            display: flex;
            align-self: stretch;
            flex-wrap: wrap;
            &-item {
                width: 25%;
                padding: 16px;
            }
        }
        &_paginate {
            display: flex;
            justify-content: right;
        }
    }
}
