@import "../../assets/style.scss";

.productInfo {
    $padding: 15px;
    padding: $padding;
    span {
        margin: 0px;
        color: $textColor;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        color: rgb(120, 120, 120);
    }
    &_header {
        padding: 16px 28px 16px 0px;
        .branch {
        }
        .name {
            font-weight: 300;
            font-size: 24px;
            margin: 4px 0;
            color: $textColor;
            text-transform: uppercase;
            line-height: 32px;
        }
        .star {
            display: flex;
            align-items: center;
            .stars {
                margin-right: 10px;
            }
            span {
                font-size: 15px;
            }
        }
    }
    &_price {
        display: flex;
        align-items: flex-end;
        background-color: #fafafa;
        padding: 15px 20px;
        color: rgb(120, 120, 120);
        .price {
            font-size: 30px;
            font-weight: 600;
            color: $redColor;
        }
        .real_price {
            text-decoration: line-through;
            margin-left: 5px;
            font-weight: 600;
        }
        .discount_box {
            font-size: 13px;
        }
    }
    &_options {
        .option {
            display: flex;
            margin-top: 30px;
            &_name {
                font-size: 15px;
                width: 150px;
            }
            &_content {
                .boxValue {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 20px;
                    margin: 0 8px 8px 0;
                    color: rgba(0, 0, 0, 0.8);
                    text-align: left;
                    border-radius: 2px;
                    border: 1px solid rgba(0, 0, 0, 0.09);
                    word-break: break-word;
                    cursor: pointer;
                    &:hover,&.active {
                        border-color: $mainColor;
                        color: $mainColor
                    }
                }
            }
        }
    }
    &_btn {
        margin-top: 30px;
    }
}
