@import "./style.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}
html,
body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: $grayColor;
    max-width: 100%;
    scroll-behavior: smooth;
}
.container {
    max-width: var(--container-width);
    padding: 0 15px;
    margin: auto;
}
// reset
input {
    border: none;
    outline: none;
}
button {
    border: none;
    outline: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.discount_box {
    display: inline-block;
    border: 1px solid $redColor;
    border-radius: 2px;
    background-color: rgb(255, 240, 241);
    padding: 0px 2px;
    line-height: 14px;
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
    color: $redColor;
}

