@import "./style.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}
html,
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $grayColor;
    max-width: 100%;
}
.container {
    max-width: var(--container-width);
    padding: 0 15px;
    margin: auto;
}
// reset
input {
    border: none;
    outline: none;
    
}
button{
    border: none;
    outline: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
