@mixin block($w: 100%, $h: 100%, $cl: transparent, $border: none, $radius: 0px) {
    display: block;
    width: $w;
    height: $h;
    border: $border;
    background-color: $cl;
    border-radius: $radius;
}
