html,body {
    --container-width: 1270px;
    --headerHeight: 100px;
    @media (max-width: 992px)
    {
        --container-width: 960px;
    }
    @media (max-width: 767px)
    {
        --container-width: 720px;
    }
    @media (max-width: 575px)
    {
        --container-width: 540px;
    }
}

$mainColor: rgb(26, 148, 255);
$boldColor: rgb(13, 92, 182);
$grayColor: rgb(245, 245, 250);
$textColor: rgb(36, 36, 36);
