@import "../../assets/style.scss";

.productDetail {
    &_info {
        & > .container {
            display: flex;
            padding-left: 0;
            padding-right: 0;
        }
    }
    .product {
        .container {
            display: flex;
        }
        &_img {
            @include block(40%, auto);
            display: inline-block;
            user-select: none;
        }
        &_info {
            @include block(60%, auto);
            border-left: 1px solid rgb(242, 242, 242);
        }
    }
    .sliderSection {
        .slider {
            width: 100%;
            overflow: hidden;
            position: relative;
            &_view {
                display: flex;
                width: 300%;
                .productCard {
                    width: 20%;
                    height: auto;
                }
            }
            &_control {
                .btn {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    svg {
                        font-size: 30px;
                    }
                }
                .next {
                    right: 0;
                }
            }
        }
    }
    .textSection {
        .description {
            font-size: 15px;
            color: $textColor;
            line-height: 21px;
            text-align: justify;
            img {
                margin: auto;
                text-align: center;
            }
            p {
                display: flex;
                flex-direction: column;
            }
            p,
            span {
                margin-top: 5px;
                margin-bottom: 12px;
            }
            h5,
            strong {
                font-size: 18px;
                margin: 20px 0;
                display: block;
            }
        }
    }
    .tableSection {
        font-size: 15px;
        color: $textColor;
        line-height: 21px;
        text-align: justify;
        strong {
            display: block;
            margin-top: 30px;
            font-size: 18px;
        }
    }
    .topSection {
        width: 100%;
        max-width: 300px;
        height: auto;
    }
    section {
        margin-top: 20px;
        .container {
            background-color: white;
            padding-bottom: 20px;
        }
    }
    h3 {
        color: rgb(51, 51, 51);
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        padding: 8px 16px;
        text-transform: capitalize;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        th {
            width: 220px;
            color: rgb(79, 79, 79);
            font-size: 13px;
            font-weight: 500;
            background: rgb(239, 239, 239);
            font-weight: 600;
            text-align: left;
            padding: 10px 15px;
        }
        tr:nth-child(even) {
            td {
                background-color: #fafafa;
            }
        }
        td {
            font-size: 13px;
            padding: 10px 15px;
        }
    }
}
