@import "../../assets/style.scss";
.buttons {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    &.size {
        &-middle {
            padding: 10px 20px;
            white-space: nowrap;
        }
        &-large {
            padding: 15px 0;
            white-space: nowrap;
            font-size: 16px;
            min-width: 190px;
            width: 100%;
            max-width: 300px;
            text-align: center;
        }
    }
    &.bgcolor {
        &-none {
            background-color: transparent;
        }
        &-bold {
            background-color: $boldColor;
        }
        &-main {
            background-color: $mainColor;
        }
        &-red {
            background-color: $redColor;
            color: white;
        }
        &-yellow {
            background-color: $yellowColor;
            color: $textColor;
        }
    }
    &.color {
        &-bold {
            border-color: $boldColor;
        }
        &-main {
            border-color: $boldColor;
            color: $boldColor;
        }
    }
    &.radius {
        border-radius: 4px;
    }
    &.border {
        border-width: 1px;
        border-style: solid;
    }
}
