@import "../../assets/style.scss";

.header {
    @include block(100%, var(--headerHeight), $mainColor);
    color: white;
    position: relative;
    z-index: 99;
    &-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 99;
        .logo {
            @include block(100px);
            display: flex;
            align-items: center;
            img {
                width: 100%;
            }
        }
        .header_search {
            width: 100%;
            height: 40px;
        }
        .users {
            display: flex;
            a {
                text-decoration: none;
                color: white;
            }
            &_item {
                display: flex;
                align-items: center;
                padding: 0 5px;
                cursor: pointer;
                white-space: nowrap;
                position: relative;
                img {
                    width: 30px;
                    margin-right: 5px;
                }
                .quality {
                    color: rgb(36, 36, 36);
                    background: rgb(253, 216, 53);
                    height: 20px;
                    left: 20px;
                    top: -2px;
                    border-radius: 50%;
                    display: inline-block;
                    text-align: center;
                    line-height: 20px;
                    font-size: 13px;
                    font-weight: 6sa00;
                    position: absolute;
                    padding: 0px 7px;
                }
                
            }
        }
    }
    &::after {
        content: "";
        position: fixed;
        top: 0;
        height: 100vh;
        @include block(100%, 100vh, rgba(0, 0, 0, 0.2));
        z-index: 98;
        display: none;
    }
    &.active {
        &::after {
            display: block;
        }
    }
}
